
@import "variables.scss";

@mixin footerUlStyle{
    width: 30%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 1.8em;

    a{
        text-decoration: none;
        color:#828282 ;
    }
}

@mixin buttonStyle{
    padding: 1rem 3rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    background-color: $color-blue;
}